.example-card {
    max-width: 400px;
    margin-top: 50px;
    height: 840px;
  }
  
  .prod-price {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #001d48;
  }
  
  .custom-panel {
    max-height: unset !important;
    overflow: auto !important;
  }
  
  .mat-card-image {
    width: calc(100% + 32px);
    display: block;
    overflow: hidden;
    margin: 0 auto;
  }