<div class="container jumbotron" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center"
  fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="70%" style="text-align: center;">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title style="font-weight: bold;">Cart - {{this.items != undefined ? this.items.length : 0}} item(s)</mat-card-title>
      </mat-card-header>
      <hr>
      <mat-card-content>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
          fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center"
          fxLayoutGap="10px" *ngFor=" let item of this.basketItems " style="margin-bottom: 5%;">
          <div fxFlex fxFlex.gt-sm="20%">
            <img height="150" width="200" [src]="item.image" [alt]="item.name">
          </div>
          <div fxFlex fxFlex.gt-sm="60%" style="text-align: initial;">
            <p style="font-weight: bold;">{{item.name}}</p>
            <p>{{item.contents}}</p>
          </div>
          <div fxFlex fxFlex.gt-sm="20%" style="text-align: right;">
            <p></p>
            <p style="font-weight: bold;">Price: {{item.price | currency:'EUR':'symbol-narrow':'1.2-2'}}</p>
            <p></p>
          </div>
        </div>
        <hr>
      </mat-card-content>
    </mat-card>

  </div>
  <div fxFlex fxFlex.gt-sm="30%">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Summary</mat-card-title>
      </mat-card-header>
      <hr>
      <mat-card-content>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
          fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center"
          fxLayoutGap="10px">
          <div fxFlex fxFlex.gt-sm="70%">
            <p>Products</p>
            <p>Service</p>
            <p>Discount</p>
          </div>
          <div fxFlex fxFlex.gt-sm="30%" style="text-align: center;">
            <p style="font-weight: bold;">{{this.totalProductPrice  | currency:'EUR':'symbol-narrow':'1.2-2'}}</p>
            <p style="font-weight: bold;">{{this.totalService  | currency:'EUR':'symbol-narrow':'1.2-2'}}</p>
            <p style="font-weight: bold;">{{this.totaDiscount  | currency:'EUR':'symbol-narrow':'1.2-2'}}</p>
          </div>
        </div>
        <hr>


      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
        fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center"
        fxLayoutGap="10px">
        <div fxFlex fxFlex.gt-sm="70%" style="font-weight: bold;">
          <p style="font-weight: bold;">Total amount</p>
          <p style="font-weight: bold;">(including VAT)</p>
        </div>
        <div fxFlex fxFlex.gt-sm="30%" style="text-align: center;">
          <p></p>
          <p style="font-weight: bold;">{{this.totalAmountVAT  | currency:'EUR':'symbol-narrow':'1.2-2'}}</p>
          <p></p>
        </div>
      </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>