.example-card {
  }
  
  .prod-price {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #001d48;
  }
  
  .custom-panel {
    max-height: unset !important;
    overflow: auto !important;
  }
  
  .mat-card-image {
    width: calc(100% + 32px);
    display: block;
    overflow: hidden;
    margin: 0 auto;
  }

  .mat-card-actions {
    margin-left: 0;
    margin-right: 0;
    padding: 8px 0;
}